*.png
*.zip
*.DS_Store
*.gitattributes
src/.ipynb_checkpoints/
paper/
paper_bz/
tmp/
functions/
refs/
stats/
street_view_images/

### latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
